<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="LogPath" value="@C:\Users\Rachel_Dsouza\OneDrive - Idealake Information Technologies Pvt. ltd\Documents\Canara\DeleteSitefinityLogs\App_Data\Sitefinity\Logs"/>-->
    <add key="logpath" value="d:/home/site/wwwroot/app_data/sitefinity/logs" />
    <add key="FileToDeleteFromDate" value="-10"/>
    <add key="AzureBlobConnectionString" value="DefaultEndpointsProtocol=https;AccountName=camracwebsiteprod;AccountKey=GWDRXcQLWeij8jI+DtId96I/3BpVfj2xb29Re6naMlDXvaJqumsDLnM/OzrmuzCY3Xzq22Dgxkpn5QTbjmyILw==;EndpointSuffix=core.windows.net"/>


    <!--<add key="AzureBlobConnectionString" value="DefaultEndpointsProtocol=https;AccountName=camracwebsiteuat;AccountKey=u/d0txT+g3XzEB7fdU8mhuQpuWfR24VzUAyPNXAqeYkpoMBMjIBgaKWlyznX8L6U69nGz+l3n+pVjviC6kwAHw==;EndpointSuffix=core.windows.net"/>-->
    
  </appSettings>
</configuration>